# Python: Base
**markdown**

El objetivo principal es poder levantar distintos formatos de datos, aprender a iterar (loop) y generar transformaciones y entender cómo hacer la cosas más elegantes.

En términos puntuales quiero que podamos:
* 1-Levantar datos, realizarle operaciones y aplicarle modelo.
* 2- Escribir funciones y generar nuestra propia librería 
* 3- Escribir algoritmos desde cero.

# 00- Importar y leer datos

In [2]:
import pandas as pd

In [3]:
!ls

01_ventas_comercial.ipynb 1-ventas-comercial        README.md
02-solutions.ipynb        5-ypf                     data

In [4]:
path_data = "data/"


## Ubicación Path

In [5]:
import sys
print(sys.version)

3.9.7 (default, Sep 16 2021, 08:50:36)
[Clang 10.0.0 ]

In [6]:
# con esta librería podes chequear la ubicación de tu notebook (y por ende directorio de trabajo)
import os
os.getcwd()

'/Users/federicomoreno/PycharmProjects/curso/UCEMA/02-data-sources'

In [7]:
path = '/Users/federicomoreno/PycharmProjects/curso/UCEMA/02-data-sources'

In [8]:
#ls es de linux comando típico para inspeccionar la estructura del directoreo, por lo general se utilizan ! o % para utilizar cómando de linux en la notebook. ! pip install es uno de los más usados
%ls

01_ventas_comercial.ipynb  5-ypf/
02-solutions.ipynb         README.md
1-ventas-comercial/        data/

## Instalar librerías que necesites 
!pip install LIBRERIA

# 1. walks

¿Que pasa si quiere leer muchos archivos y concatenarlos?

In [9]:
import glob
import os

In [10]:
os.getcwd()

'/Users/federicomoreno/PycharmProjects/curso/UCEMA/02-data-sources'

In [11]:
path_folder_con_muchos_csv =  path_data + "ventas_comercial"

In [12]:
for file in glob.glob(path_folder_con_muchos_csv+ "/*.csv"):
    print(file)

data/ventas_comercial/King John.csv
data/ventas_comercial/Henry VIII.csv
data/ventas_comercial/Henry VI Part 2.csv
data/ventas_comercial/A Comedy of Errors.csv
data/ventas_comercial/Henry VI Part 3.csv
data/ventas_comercial/Timon of Athens.csv
data/ventas_comercial/A Winters Tale.csv
data/ventas_comercial/Henry VI Part 1.csv
data/ventas_comercial/Richard III.csv
data/ventas_comercial/Hamlet.csv
data/ventas_comercial/Romeo and Juliet.csv
data/ventas_comercial/Taming of the Shrew.csv
data/ventas_comercial/Measure for measure.csv
data/ventas_comercial/Antony and Cleopatra.csv
data/ventas_comercial/macbeth.csv
data/ventas_comercial/Julius Caesar.csv
data/ventas_comercial/Cymbeline.csv
data/ventas_comercial/Coriolanus.csv
data/ventas_comercial/As you like it.csv
data/ventas_comercial/Richard II.csv
data/ventas_comercial/Henry V.csv
data/ventas_comercial/The Tempest.csv
data/ventas_comercial/Alls well that ends well.csv
data/ventas_comercial/Much Ado about nothing.csv
data/ventas_comercial/Troilus and Cressida.csv
data/ventas_comercial/Loves Labours Lost.csv
data/ventas_comercial/Twelfth Night.csv
data/ventas_comercial/Two Gentlemen of Verona.csv
data/ventas_comercial/King Lear.csv
data/ventas_comercial/Pericles.csv
data/ventas_comercial/Henry IV.csv
data/ventas_comercial/A Midsummer nights dream.csv
data/ventas_comercial/Othello.csv
data/ventas_comercial/Titus Andronicus.csv
data/ventas_comercial/Merchant of Venice.csv
data/ventas_comercial/Merry Wives of Windsor.csv

In [13]:
path = path_folder_con_muchos_csv

In [14]:
df = pd.concat([pd.read_csv(f) for f in glob.glob(path + "/*.csv")],
                      ignore_index=True)

In [15]:
df.shape

(111396, 7)

In [16]:
df.head()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,43490,43491,King John,11.0,5.5.97,KING HENRY VIII,ACT I
1,43491,43492,King John,11.0,5.5.97,KING HENRY VIII,SCENE I. KING JOHN'S palace.
2,43492,43493,King John,11.0,NaN,KING HENRY VIII,"Enter KING JOHN, QUEEN ELINOR, PEMBROKE, ESSEX..."
3,43493,43494,King John,1.0,1.1.1,KING JOHN,"Now, say, Chatillon, what would France with us?"
4,43494,43495,King John,2.0,1.1.2,CHATILLON,"Thus, after greeting, speaks the King of France"

Puedo crear un archivo .py con la función de lectura de los csv en una carpeta y arrojar algun proceso. Por ejemplo la cantidad de veces que aparece una palabra

In [17]:
df['Play'].value_counts()

Hamlet                      4244
Coriolanus                  3992
Cymbeline                   3958
Richard III                 3941
Antony and Cleopatra        3862
King Lear                   3766
Othello                     3762
Troilus and Cressida        3711
A Winters Tale              3489
Henry VIII                  3419
Henry V                     3395
Henry VI Part 2             3334
Romeo and Juliet            3313
Henry IV                    3205
Henry VI Part 3             3138
Alls well that ends well    3083
Measure for measure         2998
Loves Labours Lost          2986
Henry VI Part 1             2983
Richard II                  2937
Merry Wives of Windsor      2831
As you like it              2822
Taming of the Shrew         2806
Merchant of Venice          2802
Julius Caesar               2771
King John                   2766
Titus Andronicus            2726
Much Ado about nothing      2704
Timon of Athens             2662
Twelfth Night               2648
Pericles                    2641
macbeth                     2586
The Tempest                 2403
Two Gentlemen of Verona     2357
A Midsummer nights dream    2300
A Comedy of Errors          2055
Name: Play, dtype: int64

In [18]:
df.head()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,43490,43491,King John,11.0,5.5.97,KING HENRY VIII,ACT I
1,43491,43492,King John,11.0,5.5.97,KING HENRY VIII,SCENE I. KING JOHN'S palace.
2,43492,43493,King John,11.0,NaN,KING HENRY VIII,"Enter KING JOHN, QUEEN ELINOR, PEMBROKE, ESSEX..."
3,43493,43494,King John,1.0,1.1.1,KING JOHN,"Now, say, Chatillon, what would France with us?"
4,43494,43495,King John,2.0,1.1.2,CHATILLON,"Thus, after greeting, speaks the King of France"

In [19]:
unicos = df["Play"].unique()

In [20]:
unicos.shape

(36,)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111396 entries, 0 to 111395
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        111396 non-null  int64
 1   Dataline          111396 non-null  int64
 2   Play              111396 non-null  object
 3   PlayerLinenumber  111393 non-null  float64
 4   ActSceneLine      105153 non-null  object
 5   Player            111389 non-null  object
 6   PlayerLine        111396 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 5.9+ MB

## Filter

Indices

In [22]:
df.Play == "macbeth"

0         False
1         False
2         False
3         False
4         False
          ...
111391    False
111392    False
111393    False
111394    False
111395    False
Name: Play, Length: 111396, dtype: bool

In [23]:
df.Play[50000:60000]

50000     Julius Caesar
50001     Julius Caesar
50002     Julius Caesar
50003     Julius Caesar
50004     Julius Caesar
              ...
59995    As you like it
59996    As you like it
59997    As you like it
59998    As you like it
59999    As you like it
Name: Play, Length: 10000, dtype: object

In [24]:
df[202:203]

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
202,43692,43693,King John,48.0,1.1.196,BASTARD,"'I shall beseech you'--that is question now,"

In [25]:
df[df.Play=="macbeth"]

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
45010,55779,55780,macbeth,405.0,NaN,ADRIANO DE ARMADO,ACT I
45011,55780,55781,macbeth,405.0,NaN,ADRIANO DE ARMADO,SCENE I. A desert place.
45012,55781,55782,macbeth,405.0,NaN,ADRIANO DE ARMADO,Thunder and lightning. Enter three Witches
45013,55782,55783,macbeth,1.0,1.1.1,First Witch,When shall we three meet again
45014,55783,55784,macbeth,1.0,1.1.2,First Witch,"In thunder, lightning, or in rain?"
...,...,...,...,...,...,...,...
47591,58360,58361,macbeth,23.0,5.8.83,MALCOLM,"That calls upon us, by the grace of Grace,"
47592,58361,58362,macbeth,23.0,5.8.84,MALCOLM,"We will perform in measure, time and place:"
47593,58362,58363,macbeth,23.0,5.8.85,MALCOLM,"So, thanks to all at once and to each one,"
47594,58363,58364,macbeth,23.0,5.8.86,MALCOLM,Whom we invite to see us crown'd at Scone.
47595,58364,58365,macbeth,23.0,NaN,MALCOLM,Flourish. Exeunt

In [26]:
df.shape

(111396, 7)

In [27]:
len(df)

111396

In [28]:
len(df[df.Play=="macbeth"])

2586

In [29]:
df.head()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,43490,43491,King John,11.0,5.5.97,KING HENRY VIII,ACT I
1,43491,43492,King John,11.0,5.5.97,KING HENRY VIII,SCENE I. KING JOHN'S palace.
2,43492,43493,King John,11.0,NaN,KING HENRY VIII,"Enter KING JOHN, QUEEN ELINOR, PEMBROKE, ESSEX..."
3,43493,43494,King John,1.0,1.1.1,KING JOHN,"Now, say, Chatillon, what would France with us?"
4,43494,43495,King John,2.0,1.1.2,CHATILLON,"Thus, after greeting, speaks the King of France"

In [30]:
#Creo un lista con los nombres
UniqueNames=df.Play.unique().tolist()

In [31]:
#create a data frame dictionary to store your data frames
DataFrameDict = {elem : pd.DataFrame for elem in UniqueNames}

In [32]:
for key in DataFrameDict:
    print(key)

King John
Henry VIII
Henry VI Part 2
A Comedy of Errors
Henry VI Part 3
Timon of Athens
A Winters Tale
Henry VI Part 1
Richard III
Hamlet
Romeo and Juliet
Taming of the Shrew
Measure for measure
Antony and Cleopatra
macbeth
Julius Caesar
Cymbeline
Coriolanus
As you like it
Richard II
Henry V
The Tempest
Alls well that ends well
Much Ado about nothing
Troilus and Cressida
Loves Labours Lost
Twelfth Night
Two Gentlemen of Verona
King Lear
Pericles
Henry IV
A Midsummer nights dream
Othello
Titus Andronicus
Merchant of Venice
Merry Wives of Windsor

In [34]:
DataFrameDict

{'King John': pandas.core.frame.DataFrame,
 'Henry VIII': pandas.core.frame.DataFrame,
 'Henry VI Part 2': pandas.core.frame.DataFrame,
 'A Comedy of Errors': pandas.core.frame.DataFrame,
 'Henry VI Part 3': pandas.core.frame.DataFrame,
 'Timon of Athens': pandas.core.frame.DataFrame,
 'A Winters Tale': pandas.core.frame.DataFrame,
 'Henry VI Part 1': pandas.core.frame.DataFrame,
 'Richard III': pandas.core.frame.DataFrame,
 'Hamlet': pandas.core.frame.DataFrame,
 'Romeo and Juliet': pandas.core.frame.DataFrame,
 'Taming of the Shrew': pandas.core.frame.DataFrame,
 'Measure for measure': pandas.core.frame.DataFrame,
 'Antony and Cleopatra': pandas.core.frame.DataFrame,
 'macbeth': pandas.core.frame.DataFrame,
 'Julius Caesar': pandas.core.frame.DataFrame,
 'Cymbeline': pandas.core.frame.DataFrame,
 'Coriolanus': pandas.core.frame.DataFrame,
 'As you like it': pandas.core.frame.DataFrame,
 'Richard II': pandas.core.frame.DataFrame,
 'Henry V': pandas.core.frame.DataFrame,
 'The Tempest': pandas.core.frame.DataFrame,
 'Alls well that ends well': pandas.core.frame.DataFrame,
 'Much Ado about nothing': pandas.core.frame.DataFrame,
 'Troilus and Cressida': pandas.core.frame.DataFrame,
 'Loves Labours Lost': pandas.core.frame.DataFrame,
 'Twelfth Night': pandas.core.frame.DataFrame,
 'Two Gentlemen of Verona': pandas.core.frame.DataFrame,
 'King Lear': pandas.core.frame.DataFrame,
 'Pericles': pandas.core.frame.DataFrame,
 'Henry IV': pandas.core.frame.DataFrame,
 'A Midsummer nights dream': pandas.core.frame.DataFrame,
 'Othello': pandas.core.frame.DataFrame,
 'Titus Andronicus': pandas.core.frame.DataFrame,
 'Merchant of Venice': pandas.core.frame.DataFrame,
 'Merry Wives of Windsor': pandas.core.frame.DataFrame}

## Para guardarlo

for key in DataFrameDict.keys():
    DataFrameDict[key] = df[df.Play == key]
    DataFrameDict[key].to_csv(carpeta_output+ key+'.csv', header=True)

# observar la carpeta recorrer

In [48]:
macbeth = pd.read_csv(path+"/macbeth.csv")

In [49]:
macbeth.shape

(2586, 7)

In [50]:
macbeth.head()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,55779,55780,macbeth,405.0,NaN,ADRIANO DE ARMADO,ACT I
1,55780,55781,macbeth,405.0,NaN,ADRIANO DE ARMADO,SCENE I. A desert place.
2,55781,55782,macbeth,405.0,NaN,ADRIANO DE ARMADO,Thunder and lightning. Enter three Witches
3,55782,55783,macbeth,1.0,1.1.1,First Witch,When shall we three meet again
4,55783,55784,macbeth,1.0,1.1.2,First Witch,"In thunder, lightning, or in rain?"